In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_csv('car_sales_final.csv')
df

,Brand_Name,Year,km_Driven,Fuel,Seller_Type,Transmission,Owner,Mileage,Max_Power,Engine,Seats,City_Name,Selling_Price
0,Maruti,2014,145500,Diesel,Individual,Manual,First Owner,23.40,74.00,1248,5,Mumbai,450000
1,Skoda,2014,120000,Diesel,Individual,Manual,Second Owner,21.14,103.52,1498,5,Ranchi,370000
2,Honda,2006,140000,Petrol,Individual,Manual,Third Owner,17.70,78.00,1497,5,Noida,158000
3,Hyundai,2010,127000,Diesel,Individual,Manual,First Owner,23.00,90.00,1396,5,Dehradun,225000
4,Maruti,2007,120000,Petrol,Individual,Manual,First Owner,16.10,88.20,1298,5,Chennai,130000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,Hyundai,2013,110000,Petrol,Individual,Manual,First Owner,18.50,82.85,1197,5,Indore,320000
7902,Hyundai,2007,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,110.00,1493,5,Dehradun,135000
7903,Maruti,2009,120000,Diesel,Individual,Manual,First Owner,19.30,73.90,1248,5,Kolkata,382000
7904,Tata,2013,25000,Diesel,Individual,Manual,First Owner,23.57,70.00,1396,5,Vellore,290000
7905,Tata,2013,25000,Diesel,Individual,Manual,First Owner,23.57,70.00,1396,5,Dehradun,290000

In [3]:
X = df.drop(columns='Selling_Price').copy()
y = df['Selling_Price'].copy()

In [4]:
en_X=pd.get_dummies(X,columns=['Brand_Name','Fuel','Seller_Type','Transmission','Owner','City_Name'])

In [5]:
#from sklearn import preprocessing
#label_encoder = preprocessing.LabelEncoder()
#X['Brand_Name']= label_encoder.fit_transform(X['Brand_Name'])
#X['Fuel']= label_encoder.fit_transform(X['Fuel'])
#X['Seller_Type']= label_encoder.fit_transform(X['Seller_Type'])
#X['Transmission']= label_encoder.fit_transform(X['Transmission'])
#X['Owner']= label_encoder.fit_transform(X['Owner'])
#X['City_Name']= label_encoder.fit_transform(X['City_Name'])
#en_X=X

In [6]:
en_X

,Year,km_Driven,Mileage,Max_Power,Engine,Seats,Brand_Name_Ambassador,Brand_Name_Ashok,Brand_Name_Audi,Brand_Name_BMW,...,City_Name_Nellore,City_Name_Noida,City_Name_Patna,City_Name_Pune,City_Name_Ranchi,City_Name_Surat,City_Name_Thrissur,City_Name_Vadodara,City_Name_Vellore,City_Name_kanpur
0,2014,145500,23.40,74.00,1248,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2014,120000,21.14,103.52,1498,5,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2006,140000,17.70,78.00,1497,5,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,2010,127000,23.00,90.00,1396,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2007,120000,16.10,88.20,1298,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,2013,110000,18.50,82.85,1197,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7902,2007,119000,16.80,110.00,1493,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7903,2009,120000,19.30,73.90,1248,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7904,2013,25000,23.57,70.00,1396,5,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7905,2013,25000,23.57,70.00,1396,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_std = scaler.fit_transform(en_X)
x_std

array([[ 4.15787573e-03,  1.34377674e+00,  9.86157413e-01, ...,
        -1.88759307e-01, -1.96180526e-01, -1.79581850e-01],
       [ 4.15787573e-03,  8.94743782e-01,  4.26198156e-01, ...,
        -1.88759307e-01, -1.96180526e-01, -1.79581850e-01],
       [-2.06652972e+00,  1.24692649e+00, -4.26129209e-01, ...,
        -1.88759307e-01, -1.96180526e-01, -1.79581850e-01],
       ...,
       [-1.29002187e+00,  8.94743782e-01, -2.96978765e-02, ...,
        -1.88759307e-01, -1.96180526e-01, -1.79581850e-01],
       [-2.54678073e-01, -7.78124103e-01,  1.02827824e+00, ...,
        -1.88759307e-01,  5.09734589e+00, -1.79581850e-01],
       [-2.54678073e-01, -7.78124103e-01,  1.02827824e+00, ...,
        -1.88759307e-01, -1.96180526e-01, -1.79581850e-01]])

In [8]:
from sklearn.model_selection import train_test_split

# split the data in train and test sets
X_train, X_test, y_train, y_test = train_test_split(x_std,y,test_size = 0.25)

#Linear Regression

In [9]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import linear_model

lr = linear_model.LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_train)
print(y_pred)

[ 651453.57682577  770109.57682577  684797.57682577 ... 1036157.57682577
  312829.57682577  779161.57682577]

In [10]:
#Print the R2 score and Adjusted R2 Score
print("R squared: {}".format(r2_score(y_train,y_pred)))
#display adjusted R-squared
print("Adjusted R squared: ", 1 - (1-lr.score(X_train, y_train))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1))

R squared: 0.8527927863398655
Adjusted R squared:  0.8507790077672235

#Decison Tree regressor

In [11]:
from sklearn.tree import DecisionTreeRegressor 
  
# create a regressor object
regressor = DecisionTreeRegressor(random_state = 0) 
  
# fit the regressor with X and Y data
regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [12]:
y_pred1 = regressor.predict(X_test)

In [13]:

#Print the R2 score and Adjusted R2 Score
print("R squared: {}".format(r2_score(y_test,y_pred1)))

R squared: 0.9614023050818803

#Gradient Boosted tree regressor

In [14]:
params = {
    "n_estimators": 500,
    "max_depth": 4,
    "min_samples_split": 5,
    "learning_rate": 0.01,
    "loss": "squared_error",
}

In [15]:
from sklearn import ensemble
from sklearn.ensemble import GradientBoostingRegressor
reg = GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)

GradientBoostingRegressor(learning_rate=0.01, max_depth=4, min_samples_split=5,
                          n_estimators=500)

In [16]:
y_pred2=reg.predict(X_test)

In [17]:
print("R squared: {}".format(r2_score(y_test,y_pred2)))

R squared: 0.973621124266857

In [18]:
#from sklearn.model_selection import RepeatedKFold
#from sklearn.model_selection import GridSearchCV

#model = GradientBoostingRegressor()
#grid = dict()
#grid['n_estimators'] = [500,600]
#grid['learning_rate'] = [0.2, 0.1]
#grid['subsample'] = [0.5, 0.7]
#grid['max_depth'] = [3, 4,5]
#grid['min_samples_split']=[3,4,5]
# define the evaluation procedure
#cv = RepeatedKFold(n_splits=5, n_repeats=3, random_state=1)
# define the grid search procedure
#grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=cv)
# execute the grid search
#grid_result = grid_search.fit(X_train, y_train)

In [19]:
# summarize the best score and configuration
#print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_)) # summarize all scores that were evaluated
#means = grid_result.cv_results_['mean_test_score']
#stds = grid_result.cv_results_['std_test_score']
#params = grid_result.cv_results_['params']
#for mean, stdev, param in zip(means, stds, params):
#    print("%f (%f) with: %r" % (mean, stdev, param))

In [20]:
model = GradientBoostingRegressor(random_state=0, learning_rate=0.1,max_depth=4, n_estimators=600, subsample=0.7)
model.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=4, n_estimators=600, random_state=0,
                          subsample=0.7)

In [21]:
y_pred4=model.predict(X_test)

In [22]:
print("R squared: {}".format(r2_score(y_test,y_pred4)))

R squared: 0.9804651997854908

NameError: name 'x' is not defined

#MLP regressor

In [23]:
from sklearn.neural_network import MLPRegressor
from sklearn import metrics

In [24]:
mlp_reg = MLPRegressor(hidden_layer_sizes=(150,100,50),
                       max_iter = 1000,activation = 'relu',
                       solver = 'adam')

In [25]:
mlp_reg.fit(X_train, y_train)

C:\Users\sgoria\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPRegressor(hidden_layer_sizes=(150, 100, 50), max_iter=1000)

In [26]:
y_pred3 = mlp_reg.predict(X_test)

In [27]:
print("R squared: {}".format(r2_score(y_test,y_pred3)))

R squared: 0.95669343574168